* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  background-image: url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  color: rgb(230, 221, 203);
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-size: 1.5rem;
  
}

.navbar {
  padding: 0.6rem;
  background-color: rgb(20, 10, 10);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 20;
  letter-spacing: 2px;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
}

.nav-logo {
  text-decoration: none;
  color: rgb(230, 221, 203);
  margin-left: 50px;
  cursor: pointer;
  align-items: center;
  font-size: 2rem;
  flex-grow: 1;
  font: italic bold 1.8em "Fira Sans", serif;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
  font: italic bold 1.2em "Fira Sans", serif;
}

.nav-links {
  color: rgb(230, 221, 203);
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 30px;
  margin-right: 3rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 1s ease, background-color 2s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: rgb(89, 131, 82);
}

.nav-item .active {
  color: rgb(89, 131, 82);
}

.nav-icon {
  display: none;

}

@media screen and (max-width: 1060px){
  .nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top:99px;
    left:-110%;
    opacity: 1;
  }

  .nav-menu.active{
    background: rgba(0, 0, 0, 0.9);
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
  }

  .nav-links{
    display:grid;
    padding: 2rem;  }

  .nav-icon{
    display: block;
    position: absolute;
    top: 13px;
    right: 0;
    transform:translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search {
  border: 3px solid rgb(233, 220, 220);
  border-radius: 30px;
  font-size: 1rem;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  font-family: inherit;
  color: rgb(228, 222, 210);
  text-align: center;
  margin: 0 auto;
  display: flex;
  
}

.search:focus {
  outline: 0;
}

.movie {
  background-color: rgb(27, 13, 13);
  margin: 1rem;
  width: 250px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.movie img {
  object-fit: cover;
  height: 400px;
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.image-detail {
  width: 600px;
  height: 400px;
}

span.release {
  border: 2px solid rgb(88, 35, 35);
  color: rgb(230, 221, 203);
  padding: 0.2rem;
  border-radius: 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  line-height: 1;
  font-weight: bold;
  color:rgb(151, 137, 110);
}

span.releaseDate {
 color: rgb(151, 137, 110);
  font-size: 1rem;
}

span.faDate {
  font-weight: bold;
  font-size: 1rem;
}

.movie-over {
  background-color: rgb(27, 13, 13);
  color: rgb(230, 221, 203);
  position: absolute;
  overflow: auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  max-height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

.tag {
  background-color: rgb(55, 55, 82);
  padding: 0.4rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: rgb(77, 165, 77);
}
.tag.orange {
  color: orange;
}
.tag.red {
  color: red;
}

.modalBackground {
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  display:flex;
  position:fixed;
  z-index: 1;
  background-color:rgba(0, 0, 0, 0.8);
}

.modalContainer {
  width: 80%;
  height: fit-content;
  background-color: rgb(20, 10, 10);
  padding: 10px;
  border-radius: 10px;
}
.modalContainer .title {
  text-align: center;
  margin-top: 10px;
  color: rgb(161, 26, 26);
}

.closeButton {
  justify-content: flex-end;
  display: flex;
}

.closeButton button {
  color: white;
  background-color: red;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
  font: 1rem;
}

.modalContainer .body {
  text-align: center;
  margin-top: 30px;
}

.modalContainer .body .tagline{
  color: rgb(128, 64, 55);
}

footer {
  background-color: rgba(75, 74, 70, 0.5);
  padding: 0.5rem;
  text-align: center;
  color: rgb(143, 139, 134);
}
